@import url('../styles/globalVariable.css');

.listItem {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 40px auto;
    background-color: white;
    padding: 40px 20px;

}

.left {
    flex: 50%;
    display: flex;

}

.images {
    height: 150px;
    width: 250px;
}

.images img {
    height: 100%;
    width: 100%;
}

.productName {
    font-weight: 700;
}

.right {
    flex: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column
}

.btns {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
}

.btns button {
    margin: 0 10px;
    border: 0;
    outline: none;
    background-color: transparent;
}

.update {
    border: 1px solid black !important;
    padding: 4px 10px;
}