@import url(../styles/globalVariable.css);



.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader h1 {
    color: var(--primary-color);
    font-size: 3rem;
    animation: infinite-animation 4s ease-in-out infinite;
}

@keyframes infinite-animation {
    0% {
        font-size: 1rem;
        animation-timing-function: ease-in;
        animation-delay: 0s;
    }

    50% {
        font-size: 2rem;
        animation-timing-function: ease-out;
        animation-delay: 2.5s;
    }

    100% {
        font-size: 4rem;
        animation-timing-function: ease-in;
        animation-delay: 5s;
    }
}